@model List<SelectListItem>
@{
    ViewData["Title"] = "StudentAbsenteeByDate";
}

<!--Header-->
<div class="form-row custom-row-responsiveness">
    <div class="col-12 custom-col-responsiveness mb-2">
        <h1 class="custom-dark-blue">Student Absent Report</h1>
        <hr class="custom-blue-hr" />
    </div>
</div>

<!-- Select options-->
<div class="form-row custom-row-responsiveness">
    <div class="col-xl-4 -col-md-12 custom-col-responsiveness mb-2">
        <div class="form-group">
            <label class="control-label">Student</label>
            <select id="inputStudentId" class="selectpicker form-control custom-select-style" title="Select Student" asp-items="Model" data-live-search="true" data-size="15">
            </select>
        </div>
    </div>
    <div class="col-xl-4 -col-md-12 custom-col-responsiveness mb-2">
        <div class="form-group">
            <label class="control-label">Start Date</label>
            <input id="inputStartDate" class="form-control" type="date" asp-format="{0:dd/MM/yyyy}" onkeydown="return false" />
        </div>
    </div>
    <div class="col-xl-4 -col-md-12 custom-col-responsiveness mb-2">
        <div class="form-group">
            <label class="control-label">End Date</label>
            <input id="inputEndDate" class="form-control" type="date" asp-format="{0:dd/MM/yyyy}" onkeydown="return false" />
        </div>
    </div>
</div>

<!-- Buttons-->
<div class="form-row custom-row-responsiveness mt-3">
    <div class="col-xl-2 offset-xl-8 -col-md-12 custom-col-responsiveness mb-2">
        <input type="button" id="btnClearFields" class="btn btn-outline-danger full-width" value="Reset" />
    </div>
    <div class="col-xl-2 -col-md-12 custom-col-responsiveness mb-2">
        <input type="button" id="btnGenerateReport" class="btn btn-outline-primary full-width" value="Generate Report" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#inputStudentId').selectpicker();

         $("#btnClearFields").click(function () {
             $("#inputStudentId").val('default').selectpicker("refresh");
            $("#inputStartDate").val('');
            $("#inputEndDate").val('');
         });

                $("#btnGenerateReport").click(function () {
                    if (startDateHasValue() && endDateHasValue()) {
                        //  ajax to get list
                        loadingSpinner_Show();
                        var studentIdValue = $('#inputStudentId').find(":selected").val();
                        var startDateValue = $('#inputStartDate').val()
                        var endDateValue = $('#inputEndDate').val();

                        $.ajax({
                                url: '@Url.Action("GenerateStudentAbsenteeList", "Report")',
                                type: 'GET',
                            data: {
                                studentId: studentIdValue.toString(),
                                startDateString: startDateValue.toString(),
                                endDateString: endDateValue.toString()
                            },
                            success: function (data) {                         
                                loadingSpinner_Hide();

                                if (data.length == 0)
                                    sweetAlertWarning("Student Absent Report", "No records were found matching your parameters.");
                                else
                                    sweetAlertSuccess("Student Absent Report", "Records were found matching your parameters.");
                                },
                                error: function (data) {
                                    loadingSpinner_Hide();
                                    sweetAlertError("Student Absent Report", "Your request could not be processed.");
                                }
                            });
                    }
                    else {
                        sweetAlertError("Student Absent Report", "Ensure all fields have a valid input.");
                    }
        });
    });

    function startDateHasValue() {
        var datetimeval = $("#inputStartDate").val();
        if (datetimeval == '' || datetimeval == null)
            return false;
        else
            return true;
    }
    function endDateHasValue() {
        var datetimeval = $("#inputEndDate").val();
        if (datetimeval == '' || datetimeval == null)
            return false;
        else
            return true;
    }
</script>