@model List<SelectListItem>
@{
    ViewData["Title"] = "StudentAbsenteeByDate";
}

<!--Header-->
<div class="form-row custom-row-responsiveness">
    <div class="col-12 custom-col-responsiveness mb-2">
        <h1 class="custom-dark-blue">Student Absent Report</h1>
        <hr class="custom-blue-hr" />
    </div>
</div>

<!-- Select options-->
<div class="form-row custom-row-responsiveness">
    <div class="col-xl-4 -col-md-12 custom-col-responsiveness mb-2">
        <div class="form-group">
            <label class="control-label">Student</label>
            <select id="inputStudentId" class="selectpicker form-control custom-select-style" title="Select Student" asp-items="Model" data-live-search="true" data-size="15">
            </select>
        </div>
    </div>
    <div class="col-xl-4 -col-md-12 custom-col-responsiveness mb-2">
        <div class="form-group">
            <label class="control-label">Start Date</label>
            <input id="inputStartDate" class="form-control" type="date" asp-format="{0:dd/MM/yyyy}" onkeydown="return false" />
        </div>
    </div>
    <div class="col-xl-4 -col-md-12 custom-col-responsiveness mb-2">
        <div class="form-group">
            <label class="control-label">End Date</label>
            <input id="inputEndDate" class="form-control" type="date" asp-format="{0:dd/MM/yyyy}" onkeydown="return false" />
        </div>
    </div>
</div>

<!-- Buttons-->
<div class="form-row custom-row-responsiveness mt-3">
    <div class="col-xl-2 offset-xl-8 -col-md-12 custom-col-responsiveness mb-2">
        <input type="button" id="btnClearFields" class="btn btn-outline-danger full-width" value="Reset" />
    </div>
    <div class="col-xl-2 -col-md-12 custom-col-responsiveness mb-2">
        <input type="button" id="btnGenerateReport" class="btn btn-outline-primary full-width" value="Generate Report" />
    </div>
</div>

<script>
    $(document).ready(function () {
        getMinMaxDateForDatePickers();

        $('#inputStudentId').selectpicker();

         $("#btnClearFields").click(function () {
             $("#inputStudentId").val('default').selectpicker("refresh");
            $("#inputStartDate").val('');
            $("#inputEndDate").val('');
         });

                $("#btnGenerateReport").click(function () {
                    if (startDateHasValue() && endDateHasValue()) {
                        //  ajax to get list
                        loadingSpinner_Show();
                        var studentIdValue = $('#inputStudentId').find(":selected").val();
                        var startDateValue = $('#inputStartDate').val()
                        var endDateValue = $('#inputEndDate').val();

                        $.ajax({
                                url: '@Url.Action("GenerateStudentAbsenteeList", "Report")',
                                type: 'GET',
                            data: {
                                studentId: studentIdValue.toString(),
                                startDateString: startDateValue.toString(),
                                endDateString: endDateValue.toString()
                            },
                            success: function (data) {
                                loadingSpinner_Hide();

                                if (data == null)
                                    sweetAlertWarning("Student Absent Report", "No records were found matching your parameters.");
                                else
                                    window.location.href = '/Report/ExportAbsenteeReport?fileGuid=' + data.toString();
                                },
                                error: function (data) {
                                    loadingSpinner_Hide();
                                    sweetAlertError("Student Absent Report", "Your request could not be processed.");
                                }
                            });
                    }
                    else {
                        sweetAlertError("Student Absent Report", "Ensure all fields have a valid input.");
                    }
        });
    });

    function getMinMaxDateForDatePickers() {
        loadingSpinner_Show();

        $.ajax({
            url: '@Url.Action("GetMinMaxDateRange", "Report")',
            type: 'GET',
            success: function (data) {               
                setMinMaxDateForDatePickers(data);
                loadingSpinner_Hide();
           },
            error: function (data) {
                loadingSpinner_Hide();
                sweetAlertError("Student Absent Report", "Your request could not be processed.");
            }
        });
    }

    function setMinMaxDateForDatePickers(data) {
        //  minDateTime (yyyy-mm-dd)
        //  maxDateTime (yyyy-mm-dd)
        var minDateArr = data.minDateTime.substring(0, 10).split('-');
        var maxDateArr = data.maxDateTime.substring(0, 10).split('-');

        var setMinDate = new Date(minDateArr[0], minDateArr[1] - 1, minDateArr[2]);
        var setMaxDate = new Date(maxDateArr[0], maxDateArr[1] - 1, maxDateArr[2]);

        $("#inputStartDate").attr({
            "min": formatDate(setMinDate),
            "max": formatDate(setMaxDate),
        });

        $("#inputEndDate").attr({
            "min": formatDate(setMinDate),
            "max": formatDate(setMaxDate),
        });
    
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        console.log([year, month, day].join('-'));
        return [year, month, day].join('-');
    }

    function startDateHasValue() {
        var datetimeval = $("#inputStartDate").val();
        if (datetimeval == '' || datetimeval == null)
            return false;
        else
            return true;
    }

    function endDateHasValue() {
        var datetimeval = $("#inputEndDate").val();
        if (datetimeval == '' || datetimeval == null)
            return false;
        else
            return true;
    }
</script>