@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp_ExcelFileProcessor</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/packages/simple-sidebar/sidebar-menu.css" rel="stylesheet" />
    <link href="~/packages/sweetalert2-11.0.18/dist/sweetalert2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="~/packages/dropzone-5.7.0/dist/min/dropzone.min.css" rel="stylesheet" />

    <!--DropZone-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/packages/dropzone-5.7.0/dist/min/dropzone.min.js"></script>

</head>
<body>
    <div class="d-flex toggled" id="wrapper">
        <!--sidebar-menu-->
        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="_SideMenu" />
        }

        <!--navbar-->

        @if (SignInManager.IsSignedIn(User))
        {
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow custom-navbar">
                    <button class="btn btn-outline-light" id="menu-toggle"><i class="fa fa-bars"></i></button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
                <div class="container mt-2">
                    <div class="loading-overlay">
                        <span class="fas fa-atom fa-3x fa-spin custom-spinner-format"></span>
                    </div>
                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow custom-navbar">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">File Processor</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
                <div class="container mt-2">
                    <div class="loading-overlay">
                        <span class="fas fa-atom fa-3x fa-spin custom-spinner-format"></span>
                    </div>
                    @RenderBody()
                </div>
            </div>
        }

    </div>
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            @*&copy; 2021 - File Processor- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            &copy; 2021 - File Processor
        </div>
    </footer>

    <!--Javascripts-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/packages/simple-sidebar/sidebar-menu.js"></script>
    <script src="~/packages/sweetalert2-11.0.18/dist/sweetalert2.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>