@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar-light bg-light border-right custom-sidemenu" id="sidebar-wrapper">
    <div class="sidebar-heading navbar-light bg-light text-white custom-sidemenu-header">Asset Management</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home mr-2"></i>Dashboard</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("UploadBaseClass", "Dashboard")"><i class="fa fa-upload mr-2"></i>Upload Base Class</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("ManageBaseClass", "Dashboard")"><i class="fa fa-graduation-cap mr-2"></i>Manage Base Class</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-id-badge mr-2"></i>Profile</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("Signout", "Dashboard")"><i class="fa fa-sign-out-alt mr-2"></i>Logout</a>
    </div>
</div>