<!-- Module modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="moduleModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row custom-row-responsiveness">

                    <!--Monday-->
                    <div class="col-12 custom-col-responsiveness">
                        <h5 class="custom-blue-hr">Monday</h5>
                        <hr />
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Module Code</label>
                            <input type="text" class="form-control" readonly id="txtMonCode" />
                        </div>
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Subjects</label>
                            <input type="text" class="form-control" readonly id="txtMonString" />
                        </div>
                    </div>

                    <!--Tuesday-->
                    <div class="col-12 custom-col-responsiveness">
                        <h5 class="custom-blue-hr">Tuesday</h5>
                        <hr />
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Module Code</label>
                            <input type="text" class="form-control" readonly id="txtTuesCode" />
                        </div>
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Subjects</label>
                            <input type="text" class="form-control" readonly id="txtTuesString" />
                        </div>
                    </div>

                    <!--Wednesday-->
                    <div class="col-12 custom-col-responsiveness">
                        <h5 class="custom-blue-hr">Wednesday</h5>
                        <hr />
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Module Code</label>
                            <input type="text" class="form-control" readonly id="txtWedCode" />
                        </div>
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Subjects</label>
                            <input type="text" class="form-control" readonly id="txtWedString" />
                        </div>
                    </div>

                    <!--Thursday-->
                    <div class="col-12 custom-col-responsiveness">
                        <h5 class="custom-blue-hr">Thursday</h5>
                        <hr />
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Module Code</label>
                            <input type="text" class="form-control" readonly id="txtThurCode" />
                        </div>
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Subjects</label>
                            <input type="text" class="form-control" readonly id="txtThurString" />
                        </div>
                    </div>

                    <!--Friday-->
                    <div class="col-12 custom-col-responsiveness">
                        <h5 class="custom-blue-hr">Friday</h5>
                        <hr />
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Module Code</label>
                            <input type="text" class="form-control" readonly id="txtFriCode" />
                        </div>
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Subjects</label>
                            <input type="text" class="form-control" readonly id="txtFriString" />
                        </div>
                    </div>

                    <!--Extra1-->
                    <div class="col-12 custom-col-responsiveness">
                        <h5 class="custom-blue-hr">Extra 1</h5>
                        <hr />
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Module Code</label>
                            <input type="text" class="form-control" readonly id="txtExt1Code" />
                        </div>
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Subjects</label>
                            <input type="text" class="form-control" readonly id="txtExt1String" />
                        </div>
                    </div>

                    <!--Extra2-->
                    <div class="col-12 custom-col-responsiveness">
                        <h5 class="custom-blue-hr">Extra 2</h5>
                        <hr />
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Module Code</label>
                            <input type="text" class="form-control" readonly id="txtExt2Code" />
                        </div>
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Subjects</label>
                            <input type="text" class="form-control" readonly id="txtExt2String" />
                        </div>
                    </div>

                    <!--Extra3-->
                    <div class="col-12 custom-col-responsiveness">
                        <h5 class="custom-blue-hr">Extra 3</h5>
                        <hr />
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Module Code</label>
                            <input type="text" class="form-control" readonly id="txtExt3Code" />
                        </div>
                    </div>
                    <div class="col-6 custom-col-responsiveness">
                        <div class="form-group">
                            <label>Subjects</label>
                            <input type="text" class="form-control" readonly id="txtExt3String" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>