@model WebApp_ExcelFileProcessor.Models.Student

@{
    ViewData["Title"] = "Add Student";
}

<!--Header-->
<div class="form-row custom-row-responsiveness">
    <div class="col-12 custom-col-responsiveness mb-2">
        <h1 class="custom-dark-blue">Add Student</h1>
        <hr class="custom-blue-hr" />
    </div>
</div>

<!--Content-->
<form asp-action="AddStudent" asp-controller="BaseClass" method="post" id="formAddStudent">
    <div class="form-row custom-row-responsiveness">

        <input type="hidden" asp-for="StudentId" value="@Model.StudentId" />
        <input type="hidden" asp-for="DateCreated" value="@Model.DateCreated" />
        <input type="hidden" asp-for="IsDeleted" value="@Model.IsDeleted" />

        <div class="col-xl-6 col-md-12 custom-col-responsiveness mb-2">
            <div class="form-group">
                <label asp-for="StudentNr" class="control-label"></label>
                <input asp-for="StudentNr" class="form-control" required />
                <span asp-validation-for="StudentNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QRCode" class="control-label"></label>
                <input asp-for="QRCode" class="form-control" required />
                <span asp-validation-for="QRCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-xl-6 col-md-12 custom-col-responsiveness mb-2">
            <div class="form-group">
                <label asp-for="Gender.GenderName" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="Model.GenderList" required>
                    <option value="" disabled selected hidden>Select Gender</option>
                </select>
                <span asp-validation-for="Gender.GenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentColor.ColorName" class="control-label"></label>
                <select asp-for="StudentColorId" class="form-control" asp-items="Model.ColorList" required>
                    <option value="" disabled selected hidden>Select Color</option>
                </select>
                <span asp-validation-for="StudentColor.ColorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentClass.DisplayName" class="control-label"></label>
                <select asp-for="StudentClassId" class="form-control" asp-items="Model.ClassList" required>
                    <option value="" disabled selected hidden>Select Class</option>
                </select>
                <span asp-validation-for="StudentClass.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentGroup.DisplayName" class="control-label"></label>
                <select asp-for="StudentGroupId" class="form-control" asp-items="Model.GroupList" required>
                    <option value="" disabled selected hidden>Select Group</option>
                </select>
                <span asp-validation-for="StudentGroup.DisplayName" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<!--Buttons-->
<div class="form-row custom-row-responsiveness">
    <div class="col-xl-2 offset-xl-8 col-md-12 custom-col-responsiveness mb-2">
        <a asp-action="ManageBaseClass" asp-controller="BaseClass" class="btn btn-outline-secondary full-width">Back to List</a>
    </div>
    <div class="col-xl-2 col-md-12 custom-col-responsiveness mb-2">
        <input type="button" value="Add" id="btnPostForm" class="btn btn-outline-primary full-width" />
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#btnPostForm").click(function () {
            Swal.fire({
                icon: 'question',
                title: "Add Student",
                text: 'Are you sure you want to save these changes?',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                showConfirmButton: true,
                confirmButtonColor: '#217093 ',
                confirmButtonText: 'Add Record',
                showCancelButton: true,
                cancelButtonText: "Cancel",
                allowOutsideClick: false,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {          

                     loadingSpinner_Show();
                    if ($('#formAddStudent').valid()) {
                        $("#formAddStudent").submit();
                    }
                    else {
                        loadingSpinner_Hide();
                        sweetAlertError("Add Student", "Please ensure all fields are correct and valid.'");
                    }
                }
            })
        });
    });
</script>