@model List<Student>
@{
    ViewData["Title"] = "Manage Base Class";
}


<div class="form-row custom-row-responsiveness">
    <div class="col-12 custom-col-responsiveness mb-2">
        <h1 class="custom-dark-blue">Manage Base Class</h1>
        <hr class="custom-blue-hr" />
    </div>

    <div class="col-xl-2 offset-xl-10 col-md-12 custom-col-responsiveness mb-3">
        <a asp-action="AddStudent" asp-controller="BaseClass" class="btn btn-outline-primary full-width">Add Student</a>
    </div>

    <div class="col-12 custom-col-responsiveness">
        <div class="table-responsive">
            <table class="table table-striped full-width" id="table-student">
                <thead>
                    <tr>
                        <th>QR Code</th>
                        <th>Student #</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Class</th>
                        <th>Group</th>
                        <th>Color</th>
                        <th>Date Created</th>
                        <th class="text-center"> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() < 1)
                    {
                        <tr class="text-center">
                            <td colspan="10">No records available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="buttonDiv"></div>

<script>
    $(document).ready(function () {
        var studentTable;

        loadingSpinner_Show();

        var tableCount = '@Model.Count()';
        if (tableCount != 0 && tableCount != '0') {
            studentTable = loadStudentTable();
            studentTable.buttons().container()
                .appendTo('#table-student_filter');
        }

        setTimeout(function () { loadingSpinner_Hide(); }, 1500)
    });

    function loadStudentTable() {
        var table = $('#table-student').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    className: 'btn btn-success',                  
                    exportOptions: {                      
                        columns: [0,1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdf',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    className: 'btn btn-danger',            
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    className: 'btn btn-warning',
                    pageSize: 'A4',                             
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }  
            ],
             ajax: {
                url: "@Url.Action("GetStudentClassList", "BaseClass")",
                dataSrc: ""
            },
            columns: [
                {
                    data: "qrCode",
                    visible: true
                },
                {
                    data: "studentNr",
                    visible: true
                },
                {
                    data: "firstName",
                    visible: true
                },
                {
                    data: "lastName",
                    visible: true
                },
                {
                    data: "genderGenderName",
                    visible: true
                },
                {
                    data: "studentClassdisplayName",
                    visible: true
                },
                {
                    data: "studentColorColorName",
                    visible: true
                },
                {
                    data: "studentGroupDisplayName",
                    visible: true
                },
                {
                    data: "dateCreated",
                    visible: true
                },
                {
                    data: "studentId",
                    render: function (data) {
                        var result = "<div class='form-row text-center'>"

                        result += "<div class='col-xl-4 col-md-12'>";
                        result += " <a class='btn btn-outline-secondary full-width' href='/BaseClass/ViewStudent?StudentId="+ data +"'>View</a>";
                        //result += "<a asp-action='ViewStudent' asp-controller='BaseClass' asp-route-StudentId=" + data + " class='btn btn-outline-secondary full-width'>View</a> ";
                        result += "</div>";

                        result += "<div class='col-xl-4 col-md-12'>";
                        result += " <a class='btn btn-outline-warning full-width' href='/BaseClass/UpdateStudent?StudentId=" + data + "'>Update</a>";
                        //result += "<a asp-action='UpdateStudent' asp-controller='BaseClass' asp-route-StudentId=" + data + " class='btn btn-outline-warning full-width'>Update</a> ";
                        result += "</div>";

                        result += "<div class='col-xl-4 col-md-12'>";
                        result += " <a class='btn btn-outline-danger full-width' href='/BaseClass/DeleteStudent?StudentId=" + data + "'>Delete</a>";
                        //result += "<a asp-action='DeleteStudent' asp-controller='BaseClass' asp-route-StudentId=" + data + " class='btn btn-outline-danger full-width'>Delete</a> ";
                        result += "</div>";

                        return result;
                    }
                }
            ]
        });
        return table;
    }
</script>