@{
    ViewData["Title"] = "Manage Base Class";
}

<div class="form-row custom-row-responsiveness">
    <div class="col-12 custom-col-responsiveness">
        <h1 class="custom-dark-blue">Manage Base Class</h1>
        <hr class="custom-blue-hr" />
    </div>
    <div class="col-12 custom-col-responsiveness">
    </div>
</div>