@model WebApp_ExcelFileProcessor.Models.StudentScreening
@{
    ViewData["Title"] = "UpdateScreening";
}

<!--Header-->
<div class="form-row custom-row-responsiveness">
    <div class="col-12 custom-col-responsiveness mb-2">
        <h1 class="custom-dark-blue">Update Screening</h1>
        <hr class="custom-blue-hr" />
    </div>
</div>

<!--Content-->
<form asp-action="UpdateScreening" asp-controller="StudentScreening" method="post" id="formUpdateScreening">
    <div class="form-row custom-row-responsiveness">
        <input type="hidden" asp-for="StudentScreeningId" value="@Model.StudentScreeningId" />
        <input type="hidden" asp-for="StudentId" value="@Model.StudentId" />
        <input type="hidden" asp-for="DateCreated" value="@Model.DateCreated" />
        <input type="hidden" asp-for="IsDeleted" value="@Model.IsDeleted" />

        <div class="col-xl-6 col-md-12 custom-col-responsiveness mb-2">
            <div class="form-group">
                <label class="control-label">Student Full Name</label>
                <input asp-for="StudentDisplayName" class="form-control" readonly />
                <span asp-validation-for="StudentDisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">QR Code</label>
                <input asp-for="QRCodeId" class="form-control" readonly />
                <span asp-validation-for="QRCodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Class</label>
                <input asp-for="Student.StudentClass.DisplayName" class="form-control" readonly />
                <span asp-validation-for="Student.StudentClass.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Temperature</label>
                <input asp-for="Temp" class="form-control" />
                <span asp-validation-for="Temp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">General sense of wellbeing?</label>
                <input asp-for="GeneralSenseWellbeing" class="form-control" readonly />
                <span asp-validation-for="GeneralSenseWellbeing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Wearing a Mask?</label>
                <input asp-for="WearingAMask" class="form-control" />
                <span asp-validation-for="WearingAMask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Have you travelled to a high-risk area in the last 14 days?</label>
                <input asp-for="HighRiskTravel14Days" class="form-control" />
                <span asp-validation-for="HighRiskTravel14Days" class="text-danger"></span>
            </div>
        </div>

        <div class="col-xl-6 col-md-12 custom-col-responsiveness mb-2">
            <div class="form-group">
                <label class="control-label">Have you recently been in close contact with someone infected with the virus?</label>
                <input asp-for="CloseContactInfectedPerson" class="form-control" />
                <span asp-validation-for="CloseContactInfectedPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Have you recently been in contact with someone probable to be infected with the virus?</label>
                <input asp-for="CloseContactProbableInfectedPerson" class="form-control" />
                <span asp-validation-for="CloseContactProbableInfectedPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Have you attended a health facility where patients that have the virus are treated in the last 14 days?</label>
                <input asp-for="AttendHealthFacility14Days" class="form-control" />
                <span asp-validation-for="AttendHealthFacility14Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Have you been admitted with severe pneumonia</label>
                <input asp-for="AdmittedSeverPneumonia" class="form-control" />
                <span asp-validation-for="AdmittedSeverPneumonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Do you suffer from any chronic disease?</label>
                <input asp-for="SufferFromChronicDisease" class="form-control" />
                <span asp-validation-for="SufferFromChronicDisease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Do you have any of the following symptoms?</label>
                <input asp-for="AnyOfTheFollowingSymptoms" class="form-control" />
                <span asp-validation-for="AnyOfTheFollowingSymptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Time Stamp</label>
                <input asp-for="ScreeningTimeStamp" class="form-control" required onkeydown="return false" />
                <span asp-validation-for="ScreeningTimeStamp" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<!--Buttons-->
<div class="form-row custom-row-responsiveness">
    <div class="col-xl-2 offset-xl-8 col-md-12 custom-col-responsiveness mb-2">
        <a asp-action="ManageStudentScreening" asp-controller="StudentScreening" class="btn btn-outline-secondary full-width">Back to List</a>
    </div>
    <div class="col-xl-2 col-md-12 custom-col-responsiveness mb-2">
        <input type="button" value="Update" id="btnPostForm" class="btn btn-outline-warning full-width" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnPostForm").click(function () {
            Swal.fire({
                icon: 'question',
                title: "Update Record",
                text: 'Are you sure you want to save these changes?',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                showConfirmButton: true,
                confirmButtonColor: '#217093 ',
                confirmButtonText: 'Update Record',
                showCancelButton: true,
                cancelButtonText: "Cancel",
                allowOutsideClick: false,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    loadingSpinner_Show();
                    if ($('#formUpdateScreening').valid()) {
                        $("#formUpdateScreening").submit();
                    }
                    else {
                        loadingSpinner_Hide();
                        sweetAlertError("Update Record", "Please ensure all fields are correct and valid.'");
                    }
                }
            })
        });
    });
</script>