/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Global*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
.container{
    max-width: 80% !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*white-space: nowrap;*/
    line-height: 60px; /* Vertically center the text there */
    background-color: white !important;
    visibility: visible !important;
}

@media only screen and (max-width: 1600px) {
    .footer {
        visibility: hidden !important;
    }
}

/*Navbar & SIdemenu*/

.custom-navbar {
    background-color: #217093 !important;
    color: #FFF !important;
    font-size: 1.35em !important;
    margin-bottom: 3px !important;
}

    .custom-navbar a {
        color: #FFF !important;
        font-size: 1.35em !important;
    }

.custom-sidemenu-header {
    background-color: #217093 !important;
    color: #FFF !important;
    font-size: 1.4em !important;
}

.custom-sidemenu {
    background-color: #217093 !important;
    color: #FFF !important;
    font-size: 1em !important;
}

    .custom-sidemenu a {
        background-color: #217093 !important;
        color: #FFF !important;
        font-size: 1em !important;
    }

        .custom-sidemenu a:hover {
            background-color: #FFF !important;
            color: #217093 !important;
            font-size: 1.2em !important;
        }

.list-group a {
    border-bottom: 1px solid #217093 !important;
    border-top: 1px solid #217093 !important;
}

    .list-group a:hover {
        border-bottom: none !important;
        border-top: none !important;
        border-right: #EFFF !important;
    }

/*Dashboard cards*/

.card {
    border: 0.5px solid #217093;
    padding-top: 10px !important;
    transition: transform 250ms;
}

    .card:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }

.card-block {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.card-footer {
    border-top: 1px solid #217093 !important;
    background: #217093 !important;
    color: white !important;
}

.card-container i {
    color: #343a40 !important;
}

@media only screen and (max-width: 1400px) {
    .card-block {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}

.custom-blue-hr {
    color: #217093 !important;
}

@media only screen and (max-width: 1024px) {
    .custom-col-responsiveness {
        margin-top: 25px !important;
    }

    .custom-row-responsiveness {
        margin-top: 0px !important;
    }
}

.custom-dark-blue {
    color: #217093 !important;
}

.custom-light-blue {
    color: #4eb8dd !important;
}

/*DropZone*/

+ .dropzone-form {
    width: 100% !important;
}

.round-corners {
    border-radius: 25px;
    border-color: #217093 !important;
    /*background: #73AD21;*/
    padding: 20px;
    /*width: 200px;*/
    /*height: 150px;*/
}

.dropzone .dz-preview .dz-error-message {
    top: 150px !important;
}

.full-width {
    width: 100% !important;
}


.custom-primary-button {
    color: #217093 !important;
    background-color: #FFF !important;
    border-color: #217093 !important;
}

    .custom-primary-button:hover {
        color: #FFF !important;
        background-color: #217093 !important;
        border-color: #217093 !important;
    }


/* Loading Spinner*/
.loading-overlay {
    display: none;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    /*   align-items: center;
    justify-content: center;*/
    text-align: center;
}

    .loading-overlay.is-active {
        display: flex;
    }

.custom-spinner-format {
    color: #217093 !important;
    width: 3rem;
    height: 3rem;
    margin-top: 8em;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}

/*Tabs  */
.nav-tabs .nav-item .nav-link {
    background-color: #217093;
    color: #FFF;
}

    .nav-tabs .nav-item .nav-link.active {
        background-color: #FFF;
        color: #217093;
    }

.tab-content {
    /* border: 1px solid #dee2e6;
    border-top: transparent;*/
    padding: 5px;
}

    .tab-content .tab-pane {
        background-color: #FFF;
        color: #217093;
        min-height: 200px;
        height: auto;
    }

/*Tables*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #217093 !important;
    border-color: #217093 !important;
}
.page-link {
    color: #217093;
    background-color: #fff !important;
    border-color: #217093 !important;
}
/*Icons*/
.icon-view {
    font-size: 18px !important;
    color: #217093 !important;
}

    .icon-view:hover {
     font-size: 25px !important;
        cursor: pointer;
    }

.icon-edit {
    font-size: 18px !important;
    color: #8B8000 !important;
}

    .icon-edit:hover {
        font-size: 25px !important;
        cursor: pointer;
    }

.icon-delete {
    font-size: 18px !important;
    color: #dc3545 !important;
}

    .icon-delete:hover {
        font-size: 25px !important;
        cursor: pointer;
    }



/*HomeController/Index*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
#loginEmail-error {
    font-weight: 600 !important;
    color: #dc3545 !important;
}

#loginPassword-error {
    font-weight: 600 !important;
    color: #dc3545 !important;
}

.validation-summary-errors {
    font-weight: 600 !important;
    color: #dc3545 !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #217093;
    font-size: 1.25em !important;
}

    input:-webkit-autofill:focus {
        -webkit-text-fill-color: #217093;
        font-size: 1.25em !important;
    }

/*DashboardController/Index*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
.icon-margin-top-fix {
    margin-top: 12px !important;
}
